body 
{
    background-color:rgb(210, 176, 210);
    height:100%;
    position:relative;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15rem;
}
.whole_resume
{
    margin: 0;
    padding: 0;
    height:auto;
    width:auto;
    background-color:rgb(171, 171, 234);
    border-radius: 0px;
    border:5px double orangered;
    
    position: absolute;
    left:50%;
    transform: translate(-50%);

    /* align-items: center;
    justify-content: center; */
}
.on_head
{   margin: 0px;
    color:rgba(255, 255, 255, 0.847);
    text-decoration:underline;
    text-align:center;
    background-color:rgb(212, 65, 65) ;
    box-shadow: 2px 2px 2px solid orangered;
    
}
.img
{
    
    /* display:inline; */
    margin-top:1%;
    margin-bottom:1%;
    margin-left: 3%;
    padding: 0;
    border-radius: 5%;

}
.col1
{
    
    background-color:rgb(115, 133, 188);
    display:flex;
    padding:0px;
    border-radius:0px;
    margin:0px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;


}   
.whole_resume .col1{
    /* margin-top: -21px; */
    /* align-items:center;*/
} 

/* .col1 img{
    display:flex;
} */

table
{
  /* border: 2px solid blue; */
  background-color: rgb(189, 237, 237);
  color: rgb(210, 30, 48);
}
.ta
{
    /* align-items: center; */
    /* margin: 0 auto; */
    /* position: relative; */
    justify-content: center;
    display: flex;
}

tr:nth-child(odd)
{
    background-color: rgb(241, 215, 181);
}
th
{
    background-color:violet;
    color:white;
}
.animation
{
    animation-name:ani;
    animation-duration:1s;
    animation-iteration-count: 100;
}
@keyframes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ani
{
    from{
        opacity:1;

    }
    to
    {
      /* opacity:0; */
      background-color:yellow;
      color:darkorchid
    }
}    
span
{
  text-indent:300px;
  margin-left:50px;  
}

.footer div
{
    justify-content:right;
    align-items:flex-end;
    display:flex;
    flex-direction: column;
    margin-right: 0px;
    padding-top: 1%;
    background-color: antiquewhite;
    padding-right: 20px;
    font-family:'Courier New', Courier, monospace;
}
.footer div img{
padding:0;
margin-right:7%;

}
.t .r{
  /* display: flex;
  flex-direction: column; */
}
.t{
 table-layout: fixed;   
    
   
    
}
.main
{
   margin-left: 15px;
   background-color: bisque;
   margin:0;
   padding:2px;
   box-shadow:2px 2px 2px solid bisque;
   
}
.main .b{
    box-shadow:1.2px 1.2px 1.2px rgb(234, 158, 65);
    border:1.5px dotted rgb(237, 159, 64);
}
h3{
    font-family:'Courier New', Courier, monospace;
    display:inline;
}
img{
    margin-left: 0px;
}
/* .footer p 
{
    color:chartreuse;
} */
hr{
    margin:0px;
    border:2px solid green;
    width:98%;
    height:10%;
}
a .btn
{
    z-index: 1111;
    text-decoration: none;
    display:block;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin:0;
   /* margin: 0 auto;
   position:absolute; */
   background-image: linear-gradient(to right,green,yellow,teal,white,orange);
   color:rgb(169, 137, 230);
   cursor:pointer;
   width:150px;
   height:50px;
   font-size: 20px;
   position: absolute;
   /* bottom:0%; */
   top:160%;
   left: 45%;
   border-radius:15rem;
   box-shadow: 1.5px 1.5px 1.5px  rgb(109, 114, 223);
}
/* .whole_resume .col1 h1
{
    display: flex;
} */
.whole_resume .col1 .col2{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:none;
    
}
.whole_resume .col1 .col2 .f{
    margin: 0;
    padding: 0;
    display: flex;
    
}
@media(max-width:750px){
    body{
        height:100%;
        border-radius:15%;
        position: relative;
    }
     body .btn{
        color:red;
        border:2px red solid;
        background-color: blue;
        z-index: 2222;
        position: absolute;
        bottom:0%;
        left:0%; 
    

        
        opacity: 1;
    }
    .main{
     display:flex;
     flex-direction: column;
     margin: 0;
     padding:2px;
    }
    
    
}